<h1>Sign up for our awesome Music App!</h1>

<% unless @user.errors.empty? %>
<% @user.errors.full_messages.each do |err| %>
<%= err %>
<br>
<% end %>
<% end %>
<br>

<form action="<%= users_url %>" method="post">
  <input  type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

<label>Username
<input type="text" name="user[email]" value="<%= @user.email %>">
</label>
<br>

<label>Password
<input type="password" name="user[password]">
</label>
<br>

<input type="submit" value="Sign me up!">
</form>
